# ignore swap, pyc, and pkl files 
*.pyc
*.swp
*.pkl

# Ignore image files in the root directory
*.png
*.jpg

# Ignore video files in root
*.mp4

# Ignore audio files in root
*.mp3

# Ignore LMDB cache files
*.cache

# Ignore any random file with suffix *.out
*.out

# Ignore tags
tags

# Ignore any tool directories
.jukit/
